<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.fedomusic.pro">

    <!-- Səs dinləmə və İnternet icazələri -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application
        android:label="Fedo Music Pro"
        android:icon="@mipmap/ic_launcher">
        
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/LaunchTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
                <!-- Android TV dəstəyi -->
                <category android:name="android.intent.category.LEANBACK_LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Android Auto media xidməti -->
        <meta-data
            android:name="com.google.android.gms.car.application"
            android:value="@xml/automotive_app_desc" />
    </application>
</manifest>
